@charset "UFT-8";

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
}

@font-face {
    font-family: 'bebas neue';
    src: url(fontes/BebasNeue-Regular.otf) format('opentype');
}

:root {
    --cor0:#c5ebd6; 
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'bebas neue';
    --fonte2: 'idroid';    
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: var(--fonte0);
    background-color: #89CDA5;
    font-size: 16px;        
}

header {   
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5));
    color: white;   
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.200);
}

h1.cabecalho {
    margin: 0px;
    padding-top: 30px;
    text-align: center;
    font-family: 'bebas', 'arial';
    font-weight: normal;
}

p.cabecalho {
    margin: 30px auto 30px auto;
    text-align: center;
}

nav.cabecalho {
    text-align: left;
    font-size: 12px;      
}

.aba {
    list-style: none;
    padding-left: 0px;
    margin: 0px;      
}

.aba li {
    display: inline-block;
    padding-bottom: 10px;    
}

.aba li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-weight: bold;          
}

a:hover {
    background-color: rgba(0, 243, 0, 0.13);    
    border-radius: 3px;
}

main {
    min-width: 400px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.200);     
}

h1.principal {
    font-family: var(--fonte2);
    font-size: 1.8em;
    color: var(--cor4);
    margin: 0px;
    padding-top: 15px;
    margin-left: 15px;     
}
    
h2 {    
    font-family: var(--fonte2);
    font-size: 1.5em;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor1), white 80%);
    margin-left: 20px;
    margin-bottom: 0px;
    padding-left: 10px;    
}

p {
    text-align: justify;
    text-indent: 1.5em;
    line-height: 2em;
    padding-left: 20px;
    padding-right: 20px;
}

a.texto {
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
}

a.texto::after {
    content: "⚓"
}

img {
    display: block;
    margin: 0 auto;
}

div.video {
    position: relative;
    background-color: var(--cor4);
    
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: white;
}

p.extra1 {
    margin: 10px 15px 0px 15px; 
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 1em;
    background-color: var(--cor3);
    color: white;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.200);
}

ul.androidv {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    padding: 30px;
    margin: 0px;
}


div.extra2 {
    background-color: var(--cor0);
    margin: 0px 15px 10px 15px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.200);
}

div p {
    margin: 0px;
    padding-top: 20px;    
}

p.extra2 {
    padding-bottom: 30px;
}

p.final {
    padding-bottom: 40px;
 }

footer {
    font-family: var(--fonte0);
    font-size: 0.8em;
    color: white;
    text-align: center;
    background-color: var(--cor4);
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;    
    font-weight: bold;    
}

footer a::after {
    content: "⚓";
}

